@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Libre Franklin", sans-serif;
}

body {
  background:#F9FAFB;
}

.gd-carousel-wrapper {
    position:relative;

}

.gd-carousel {

    .react-multiple-carousel__arrow {
        position:fixed;
        z-index: 10;
    }

   
    
}

@media (max-width: 768px) {
  .react-multiple-carousel__arrow {
    display: none !important;
  }
}

.react-multi-carousel-dot-list {
  bottom: auto !important;
}

